<section id="category-cards" class="category-cards section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="category-slider swiper init-swiper">
      <div class="swiper-wrapper">

        <% categories.forEach((category, index) => { %>
          <div class="swiper-slide">
            <div class="category-card" data-aos="fade-up" data-aos-delay="<%= 100 + index * 100 %>">
              <div class="category-image">
                <img src="<%= category.image %>" alt="Category <%= category.name %>" class="img-fluid" />
              </div>
              <h3 class="category-title"><%= category.name %></h3>
              <p class="category-count"><%= category.productCount %> Products</p>
              <a href="/categories/<%= category.id %>" class="stretched-link"></a>
            </div>
          </div>
        <% }) %>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
