<ul class="category-tree list-unstyled mb-0">
  <% categories.forEach(category => { %>
    <li class="category-item">
      <div class="d-flex justify-content-between align-items-center category-header
          <%= category.id === selectedCategoryId ? '' : 'collapsed' %>"
          data-bs-toggle="collapse"
          data-bs-target="#categories-<%= category.id %>-subcategories"
          aria-expanded="<%= category.id === selectedCategoryId ? 'true' : 'false' %>"
          aria-controls="categories-<%= category.id %>-subcategories"
      >
        <a href="/categories/<%= category.id %>" class="category-link"><%= category.name %></a>
        <span class="category-toggle">
          <i class="bi bi-chevron-down"></i>
          <i class="bi bi-chevron-up"></i>
        </span>
      </div>
      <ul id="categories-<%= category.id %>-subcategories" class="subcategory-list list-unstyled collapse ps-3 mt-2
          <%= category.id === selectedCategoryId ? 'show' : '' %>">
        <% category.subcategories.forEach(subcat => { %>
          <li><a href="/categories/<%= subcat.id %>" class="subcategory-link"><%= subcat.name %></a></li>
        <% }) %>
      </ul>
    </li>
  <% }) %>
</ul>
